body {
    background-color:MEDIUMPURPLE;
}

h1 {
    color: navy;
    margin: 50px 50px 70px 70px;
    padding-left: 50px;
    text-decoration:underline;

}
img{
border-radius: 25px;
border-style:ridge;
border-color:blue;
border-width: 50px;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: AQUA;
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
}

li a:hover {
    background-color: yellow;
    color: green;

}



li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:DEEPSKYBLUE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:YELLOW}

.dropdown:hover .dropdown-content {
    display: block;
}

